<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>

      <h3>
         <a href = "{{ url_for('show_all') }}">Show all available account</a>
      </h3>

      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}

      <h3>User (<a href = "{{ url_for('new') }}">Add User
         </a>)</h3>

      <table>
         <thead>
            <tr>
               <th>ID</th>
               <th>Username</th>
                <th>Password</th>
                <th>Token</th>
            </tr>
         </thead>

         <tbody>
            {% for user in Users %}
               <tr>
                  <td>{{ user.id }}</td>
                  <td>{{ user.username }}</td>
                   <td>{{ user.password }}</td>
                   <td>{{ user.token }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

   </body>
</html>